version: '3.8'

services:
  web:
    build: .
    ports:
      - "5001:80"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://${NUXT_PRIVATE_DB_USER}:${NUXT_PRIVATE_DB_PASSWORD}@${NUXT_PRIVATE_DB_HOST}:${NUXT_PRIVATE_DB_PORT}/${NUXT_PRIVATE_DB_NAME}
      - JWT_SECRET=${NUXT_PRIVATE_JWT_SECRET}